.wrapper{
    position:relative;
    left:0%;
    height:auto;
    top:10px;
    border:solid gray;
    background-image:url("El Capitan.jpg");
}
/*. TOP 부분. 제목 */
.todo-top{
    position:relative;
    height:100px;
    font-size:5rem;
    text-align: center;
    //border:solid black;
    //background-color: gray;
}
.top-menuButton{
    cursor:pointer;
    position: absolute;
    //border: solid #00AA00;
    width: 100px;
    height: auto;
    //top:10px;
    left:0px;
}
.top-header{
    position: absolute;
    //border: solid #00AA44;
    top:0px;
    height: auto;
    left:40%;
}


/*. mid 부분.  */
.todo-mid{
    position: relative;
    height: auto;
    font-size: 2rem;
    //border: solid gray;
    //background-color: #00A962;
}
ul{
    list-style-type: none;
    //background-color:#00A962;
    margin:0px 0px 0px 0px;
    padding: 50px 50px 50px 50px;
}
.list{
    position: relative;
    background-color: rgba(255,255,255,1);
    margin: 10px 10px 10px 10px;
    border-radius: 20px;
}
.check{
    //appearance:none;
    //font-size: 4rem;
    //cursor: pointer;
    //box-sizing: border-box;
    top:5px;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    background: #34495E;
    border: solid #00ff00;
    border-radius: 100px;
    box-sizing: border-box;
    position: relative;
    box-sizing: content-box ;
    width: 20px;
    height: 20px;
    border-width: 0;
}
.check:checked{
  background-color: #00a4fb;
}
.check:focus{
  outline: 0 none;
  box-shadow: none;
}
.done{
    position: relative;
    margin-left: 10px;
    font-size: 2rem;
    background-color: rgba(255, 255, 255, 0);
    //opacity:0.1;
    border:none;
}
.deleteButton{
    position: relative;
    float:right;
    margin-top: 10px;
    margin-right: 10px;
    font-size: 1rem;
    //background-color: #000066;
    border:none;
}

/*. bottom 부분 */
.todo-bottom{
    position: relative;
    min-height: 100px;
    //border: solid red;
    //background-color: yellow;
}

.bottom-wrapper{
    position: relative;
    //border:solid rgba(0,0,0,1);
    padding: 0px 50px 0px 50px;
}

.inputText{
    position: relative;
    width: 55%;
    float:left;
    height: 50px;
    font-size: 2rem;
    margin: 5px 5px 5px 5px;
}

.inputDone{
    position: relative;
    width: 20%;
    float:left;
    //left:30%;
    height:50px;
    font-size: 2rem;
    margin: 5px 5px 5px 5px;
}

.inputButton{
    position: relative;
    width:20%;
    float:left;
    //top:2px;
    //left:20%;
    height: 50px;
    font-size: 1.5rem;
    margin: 5px 5px 5px 5px;
}


/*. footer 부분 */
.todo-footer{
    position: relative;
    top:10px;
    text-align: center;
    font-size:2rem;
}


/*. sideNavigation 부분 */
.sideNavigation{
    position: fixed;
    left:0px;
    top:0px;
    width: 0px;
    height:100%;
    z-index:1;
    background-color:#ffffff;
    //border:solid gray;
    font-size:2rem;
    transition:all 1s;
    overflow-x: hidden;
}
.navIcon{
    position:absolute;
    width:40px;
    height: auto;
    //background-color:white;
    display:block;
}
.navA{
    display:block;
    margin-left:45px;
    transition: all as;
}
.closeMenu{
    cursor:pointer;
    text-align: right;
    margin-top:50px;
    margin-right:30px;
}
